@property --c1 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(29 78 216 / 0.7);
}

@property --c2 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(29 78 216 / 0.3);
}

@property --c3 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(29 78 216 / 0.1);
}

.gradient {
  --c1: rgb(29 78 216 / 0.7);
  --c2: rgb(29 78 216 / 0.3);
  --c3: rgb(29 78 216 / 0.1);
  background: linear-gradient(
    to bottom right,
    var(--c1) 0%,
    var(--c2) 40%,
    var(--c3) 80%
  );
  animation: rainbow 60s infinite linear;
  @apply absolute top-0 left-0 size-full -z-10;
}

@keyframes rainbow {
  0%,
  100% {
    --c1: rgb(29 78 216 / 0.7);
    --c2: rgb(29 78 216 / 0.3);
    --c3: rgb(29 78 216 / 0.1);
  }
  5.88% {
    --c1: rgb(67 56 202 / 0.7);
    --c2: rgb(67 56 202 / 0.3);
    --c3: rgb(67 56 202 / 0.1);
  }
  11.76% {
    --c1: rgb(109 40 217 / 0.7);
    --c2: rgb(109 40 217 / 0.3);
    --c3: rgb(109 40 217 / 0.1);
  }
  17.64% {
    --c1: rgb(126 34 206 / 0.7);
    --c2: rgb(126 34 206 / 0.3);
    --c3: rgb(126 34 206 / 0.1);
  }
  23.52% {
    --c1: rgb(162 28 175 / 0.7);
    --c2: rgb(162 28 175 / 0.3);
    --c3: rgb(162 28 175 / 0.1);
  }
  29.4% {
    --c1: rgb(190 24 93 / 0.7);
    --c2: rgb(190 24 93 / 0.3);
    --c3: rgb(190 24 93 / 0.1);
  }
  35.28% {
    --c1: rgb(190 18 60 / 0.7);
    --c2: rgb(190 18 60 / 0.3);
    --c3: rgb(190 18 60 / 0.1);
  }
  41.16% {
    --c1: rgb(185 28 28 / 0.7);
    --c2: rgb(185 28 28 / 0.3);
    --c3: rgb(185 28 28 / 0.1);
  }
  47.04% {
    --c1: rgb(194 65 12 / 0.7);
    --c2: rgb(194 65 12 / 0.3);
    --c3: rgb(194 65 12 / 0.1);
  }
  52.92% {
    --c1: rgb(180 83 9 / 0.7);
    --c2: rgb(180 83 9 / 0.3);
    --c3: rgb(180 83 9 / 0.1);
  }
  58.8% {
    --c1: rgb(161 98 7 / 0.7);
    --c2: rgb(161 98 7 / 0.3);
    --c3: rgb(161 98 7 / 0.1);
  }
  64.68% {
    --c1: rgb(77 124 15 / 0.7);
    --c2: rgb(77 124 15 / 0.3);
    --c3: rgb(77 124 15 / 0.1);
  }
  70.56% {
    --c1: rgb(21 128 61 / 0.7);
    --c2: rgb(21 128 61 / 0.3);
    --c3: rgb(21 128 61 / 0.1);
  }
  76.44% {
    --c1: rgb(4 120 87 / 0.7);
    --c2: rgb(4 120 87 / 0.3);
    --c3: rgb(4 120 87 / 0.1);
  }
  82.32% {
    --c1: rgb(15 118 110 / 0.7);
    --c2: rgb(15 118 110 / 0.3);
    --c3: rgb(15 118 110 / 0.1);
  }
  88.2% {
    --c1: rgb(14 116 144 / 0.7);
    --c2: rgb(14 116 144 / 0.3);
    --c3: rgb(14 116 144 / 0.1);
  }
  94.08% {
    --c1: rgb(3 105 161 / 0.7);
    --c2: rgb(3 105 161 / 0.3);
    --c3: rgb(3 105 161 / 0.1);
  }
}

.pattern {
  @apply absolute top-0 left-0 size-full -z-20;
  background-color: #000000;
  opacity: 0.8;
  background-image: radial-gradient(#ffffff6e 0.5px, #000000 0.5px);
  background-size: 20px 20px;
}
